{% extends 'base.html' %}

{% block title %}
<title>Dominant colors</title>
{% endblock %}
{% block body %}
<main>

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"
       style="background-image: url('https://psv4.userapi.com/c534536/u154950492/docs/d44/ce5a91764c98/3.png?extra=-B7wAqULT69l9BtyyVLXrw37UHYFVZ-bHDyqXnnBjQ_yO-N26d9b7BxkmqBrfch3E8YdH_mjI4Zxz3m25cagTfctw4JgvOK3wy6oUk8OI_9S7YdHQXnnr3fnlyBrjfbwpf3q4WHT9YZpUa8g9WlnanM.jpg');  background-repeat: repeat;  background-attachment: scroll;"
  >
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Dominant colors</h1>
      <p class="lead fw-normal">There you can find out about 5 dominant colors in your picture. Let's try it!</p>
      <a class="btn btn-outline-secondary" href="/starting">Start now</a>
    </div>
  </div>

    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">An example.</h2>
        <p class="lead">You can see how it works.</p>
      </div>
      <image src="https://lh3.googleusercontent.com/E7gSXX-GBTrWXHcF7yI_PLSnQaDRetZWEiTDKIokxicBPwdAQiGTTzhAvWEAa_67GrybGQbLiMgnrdQMPklm=w1920-h931" height="500" width=1200"/>
    </div>

    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another example.</h2>
        <p class="lead">Isn't it beautiful?</p>
      </div>
      <image src="https://lh4.googleusercontent.com/xIGTL6L_ovbEHDZy_FscwPVZOUdfn0aEbynYh8hfK0E1Y_tkNn-LHmg9TwkGHy-7q8_4U7jrUbme5TK-nqfm=w1920-h931" height="500" width=1200"/>
    </div>
</main>
{% endblock %}
