{% extends 'base.html' %}

{% block title %}
<title>Dominant colors</title>
{% endblock %}
{% block body %}
<main>

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"
       style="background-image: url('https://sun9-71.userapi.com/impg/O7CEgGMJQq8LAw0a_zySUWnSBlaaveNk74o7yg/mUjQySYTyp4.jpg?size=1920x1136&quality=96&sign=fa0ed8b70ad05a3d36c94c9e8b502428&type=album');  background-repeat: repeat;  background-attachment: scroll;"
  >
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Dominant colors</h1>
      <p class="lead fw-normal">There you can find out up to 6 dominant colors in your picture. Let's try it!</p>
      <a class="btn btn-outline-secondary" href="/starting">Start now</a>
    </div>
  </div>

    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">An example.</h2>
        <p class="lead">You can see how it works.</p>
      </div>
      <image src="https://sun9-34.userapi.com/impg/tCjDFU7bvGo3P0W1ek5fjrmWkyU2ZXXEx_Z7FA/uK4EfhLP_MY.jpg?size=1353x551&quality=96&sign=08539c6150b7316970cf957b967b4572&type=album.jpg" height="500" width=1200"/>
    </div>

    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another example.</h2>
        <p class="lead">Isn't it beautiful?</p>
      </div>
      <image src="https://sun9-46.userapi.com/impg/zAf8ig_L3um0JcPP7TCA2kU47noJ3jXrcvnYfQ/SXEL15LenOU.jpg?size=1202x688&quality=96&sign=f35b03fccfa17cfce87699c06155aafe&type=album" height="500" width=1200"/>
    </div>
</main>
{% endblock %}
